body{
    background-color: yellow;
    
}




p{
    color:black;
    font-family: Comic Sans MS;
}





a{
    color: black;
    font-family: Comic Sans MS
}




.text-primary{
    color: navy;
    font-size: 21px;
    font-family: Comic Sans MS;
}



h3{
    font-size: 15px;
    color: darkgoldenrod;
}



h2{
color: red;
    font-size: 21px;
    font-family: Comic Sans MS;    
}




h5{
    color: darkgoldenrod;
}

































